
	<form #f="ngForm" [formGroup]="phoneForm">
		<div class="wrapper">
			<ngx-intl-tel-input [cssClass]="'custom'" [preferredCountries]="preferredCountries"
				[enableAutoCountrySelect]="true" [enablePlaceholder]="true" [searchCountryFlag]="true"
				[searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]" [selectFirstCountry]="false"
				[selectedCountryISO]="CountryISO.India" [maxLength]="15" [tooltipField]="TooltipLabel.Name"
				[phoneValidation]="true" [separateDialCode]="separateDialCode"
				[numberFormat]="PhoneNumberFormat.National" name="phone" formControlName="phone">
			</ngx-intl-tel-input>
		</div>
		<div class="wrapper">
			<button (click)="f.reset()">Reset</button>
		</div>
	</form>
